.projets{
	background: #000000BB;
	display: flex;
	flex-direction: column;
}

.projets .title{
	font-size: 6rem;
	margin-top: 7rem;
	text-align: center;
}

.projets .projectsBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 90rem;
	margin: 0 auto;
}

.projets .projectsBox .project{
	margin: 2rem;
}

.projets .projectsBox img{
	height: 20rem;
}